@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg {
  background-color: #115e56;
}

.second-bg {
  background-color: #ccfbef;
  color: #212636;
}

.btn {
  height: 46px;
  width: 137px;
  border-radius: 1200px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn:hover {
  height: 46px;
  width: 137px;
  border-radius: 1200px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccfbef;
  color: #212636;
}

.card {
  background-color: #fff;
  width: 396px;
  height: 156px;
  border-radius: 20px;
  padding: 24;
  gap: 16px;
}
